/shapesJava/nbproject/private/
/shapesJava/build/
/messageEncoderAndDecoder/nbproject/private/
/messageEncoderAndDecoder/build/
/lab4/messageEncoderAndDecoder/nbproject/private/
/lab4/shapesJava/nbproject/private/
/lab5/dataSorter/nbproject/private/